

.ng-invalid{
  background-color: rgba(200, 50, 50, 0.1);
}

.ng-valid{
   background-color: rgba(50, 200, 50, 0.1);
 }

input.col{
  width:100%;
  box-sizing: border-box;
}

//fix: correct boostrap style for datetime input
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  line-height: normal;
}