
//import dynamic build SVG icons
@import "../../build/webfont/icons.css";

.icon{
}

//import dynamic build PNG icons
@import "../../build/sprite/sprites.css";

.icon-sprite{
    display: inline-block;
}
