
/**
 * Contain page layout
 */

//global

html, body{
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6{
  padding: 0px;
  margin: 0px;
}

//global helpers
.page-content{
  max-width: 1000px;
  margin: auto;
}

//page header
#header-wrap{
  color: #eee;
  background-color: rgba(4, 36, 41, 0.89);
  transition: 6s;

  //Site tile
  h1{
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
  }
  //site short desc
  h3{
    color: #b1eef7;
    font-style: italic;
    font-weight: 300;
  }

  #header-logo-wrap{
    display: block;
    padding: 50px 0px;
    img{
      width: 75px;
      height: 75px;
    }
  }
}

//change color effect
body.app-loaded #header-wrap{
  background-color: rgb(17, 135, 152);
}

