

// Loading - Hide element before load
.default-hidden{
  display: none;
}

.after-app-load{
  display: none;
}

.before-app-load{
  display: block;
}

body.app-loaded{
  .after-app-load{
    display: block;
  }
  .before-app-load{
    display: none;
  }
}

//helpers
.nowrap{
  white-space: nowrap;
}
