<!DOCTYPE html>
<html>
<head>
  <title>Wait</title>
  <meta http-equiv="refresh" content="2">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/build/sass/main.css">
</head>

<body>
  <div class="alert-info">
    Server load... please wait.
  </div>
</body>
</html>
