<!DOCTYPE html>
<html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- Styles -->
    <link href="/build/sass/main.css" rel="stylesheet">
</head>
<body app-loaded>


    <h1 class="h1">User manager</h1>

    <!-- Loading message (before load ng) -->
    <div class="before-app-load text-center">
        <div class="alert-info">
            Loading... please wait
        </div>
    </div>

    <!-- Main content (after load ng) -->
    <div ng-controller="userListController" class="after-app-load">

        <!-- Loading message -->
        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-right">Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date of birth</th>
                    <th>Mobile number</th>
                    <th>Address</th>
                    <th>
                        <button ng-click="editSelectedUser()" class="btn btn-primary"><i class="glyphicon glyphicon-edit" ></i> Edit selected </button>
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="user in users">
                <tr ng-form ng-show="!user.$$edited">
                    <th class="nowrap text-right">
                        <input class="pull-left" type="checkbox" ng-model="user.$$selected"/>
                        {{user.id}}
                    </th>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.dateOfBirth | date:'yyyy-MM-dd'}}</td>
                    <td>{{user.mobileNumber}}</td>
                    <td>{{user.address}}</td>
                    <td class="btn-group">
                        <button ng-click="editUser(user)" class="btn btn-primary"><i class="glyphicon glyphicon-edit" ></i> Edit </button>
                        <button ng-click="deleteUser(user)" class="btn btn-danger"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</button>
                    </td>
                </tr>
                <tr ng-form ng-show="user.$$edited">
                    <th class="nowrap text-right">
                        <input class="pull-left" type="checkbox" ng-model="user.$$selected" readonly disabled />
                        {{user.id}}
                    </th>
                    <td><input class="col" ng-model="user.name" type="text" ng-minlength="4" required /></td>
                    <td><input class="col" ng-model="user.surname" type="text" minlength="4" required /></td>
                    <td><input class="col" ng-model="user.dateOfBirth" type="text" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2}(.*)$/"  required /></td>
                    <td><input class="col" ng-model="user.mobileNumber" type="text" required /></td>
                    <td><input class="col" ng-model="user.address" type="text" required /></td>
                    <td>
                        <button ng-click="saveUser(user)" class="btn btn-default">Save</button>
                        <button ng-click="cancelEditUser(user)" class="btn btn-default">Cancel</button>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr ng-form="" name="newUserForm">
                    <th></th>
                    <td><input class="col" ng-model="newUser.name" type="text" ng-minlength="4" required /></td>
                    <td><input class="col" ng-model="newUser.surname" type="text" minlength="4" required /></td>
                    <td><input class="col" ng-model="newUser.dateOfBirth" type="text" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/" required /></td>
                    <td><input class="col" ng-model="newUser.mobileNumber" type="number" minlength="4" maxlength="11" required />{{user.mobileNumber}}</td>
                    <td><input class="col" ng-model="newUser.address" type="text" minlength="4" required /></td>
                    <td><button ng-disabled="newUserForm.$invalid" ng-click="addNewUser()" class="btn btn-default">Add</button></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>



    <!-- Scripts - production (join & min)-->
    <script src="/build/requirejs/app.js"></script>

    <!-- Scripts - dev (load all files)
    <script src="/vendors/requirejs/require.js" data-main="/app/main.js"></script>
    <script src="/app/main.js"></script>
    <script src="/app/app-bootstrap.js"></script> -->
</body>
</html>